[Unit]
Description=Spreadsheet Celery Job
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
GuessMainPID=true
WorkingDirectory={{ app_path }}
EnvironmentFile=/etc/default/{{ app_user }}

ExecStart={{ pyenv_venv_path }}/bin/celery worker -A vf_spreadsheet -f {{ celery_log_file_path }} --loglevel={{ celery_log_level }} -Q {{ celery_queue }}
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
