%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl start vf-spreadsheet-gunicorn.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl stop vf-spreadsheet-gunicorn.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl restart vf-spreadsheet-gunicorn.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl reload vf-spreadsheet-gunicorn.service

%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl start spreadsheet-celery.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl stop spreadsheet-celery.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl restart spreadsheet-celery.service
%{{ app_group }} ALL=(ALL) NOPASSWD: /bin/systemctl reload spreadsheet-celery.service
